.no-bottom-round {
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

.no-side {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.animated-gradient {
  background: linear-gradient(
    -45deg,
    var(--primary-container),
    var(--inverse-primary),
    var(--tertiary-container),
    var(--surface-container-high)
  );
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
